/* этот скрипт использует такие имена классов:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
Если эти классы поменять в HTML, скрипт перестанет работать. Будьте аккуратны.
*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--regular);
  margin-block-start: var(--offset-xl);
  gap: var(--offset-xl);
  background-image: var(--main-gradient);
  background-attachment: fixed;
  background-size: cover;
}

.inline-size-content {
  inline-size: clamp(375px, calc(260.563px + 30.516vw), 700px);
}

/*Секция header*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  border: var(--border);
  min-block-size: clamp(327px, calc(312.563px + 3.85vw), 368px);
}

.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--accent-font), monospace;
  text-transform: uppercase;
  gap: var(--offset-s);
}

.header-main-title {
  font-size: var(--title-size);
}

.header-small-title {
  font-size: var(--small-size-title);
}

/*Секция main*/
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--offset-l);
}

/*card style*/
.card {
  background-color: var(--main-color);
  border: var(--border);
}

.card-title {
  font-size: var(--main-font-size);
  font-variation-settings: 'wght' var(--bold);
  padding: 5px 10px 4px 10px;
  border-block-end: var(--border);
}

.card-image {
  position: relative;
  border-block-end: var(--border);
  aspect-ratio: 1/1;
}

.hue-rotate {
  filter: hue-rotate(.5turn);
}

.grayscale {
  filter: grayscale(60%);
}

.sepia-grayscale {
  filter: sepia(.7) grayscale(30%);
}

.saturate {
  filter: saturate(350%);
}

.invert {
  filter: invert(30%);
}

.contrast {
  filter: contrast(150%);
}

.blur {
  filter: blur(2px);
}

.card-image-label {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  color: var(--accent-color);
  font-family: var(--accent-font), monospace;
  text-shadow: var(--text-stroke);
  mix-blend-mode: hard-light;
  opacity: 50%;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: var(--offset-sm);
  margin: var(--offset-sm);
  font-size: var(--main-font-size);
  font-variation-settings: 'wght' var(--regular);
  line-height: 21px;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  transition: border .3s ease;
  max-block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4px;
  margin-inline-end: var(--offset-sm);
  margin-block: var(--offset-sm);
}

.card__like-button {
  text-align: center;
  min-inline-size: 130px;
  padding-block: 7px;
}

.save__button {
  margin-block-end: var(--offset-xl);
}

.button {
  position: relative;
  overflow: hidden;
  transition: box-shadow .3s ease;
  background-color: #fff;
  border: var(--border);
  user-select: none;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  translate: -100% 0%;
  transition: translate .5s ease-in-out;
}

.button:hover::before {
  translate: 0% 0%;
}

.button__text {
  position: relative;
  color: var(--main-color);
  font-family: var(--accent-font), monospace;
  font-size: var(--accent-font-size);
  mix-blend-mode: difference;
}

.save__button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 17px;
}

.disket {
  position: relative;
  mix-blend-mode: difference;
}

.insert-disket[open] {
  inline-size: clamp(341px, calc(336.775px + 1.127vw), 353px);
  padding: 28px;
  border: var(--border) ;
}

.insert-disket[open] .button__text {
  text-transform: uppercase;
}

.insert-disket[open]::backdrop {
  background-color: var(--accent-color);
  opacity: 75%;
}

.insert-disket[open] .insert-disket__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--offset-sl);
}

.insert-disket[open] .insert-disket__content-text {
  display: flex;
  align-items: center;
  gap: var(--offset-s);
}

.insert-disket[open] .insert-disket__content-text .disket {
  min-inline-size: 39px;
  min-block-size: 39px;
}

.insert-disket[open] .insert-disket__content-text .button__text {
  line-height: 150%;
}

.insert-disket[open] .insert-disket__close-button {
  background-color: transparent;
  border: var(--border);
  padding-block: var(--offset-xs);
  padding-inline: clamp(114px, calc(108.366px + 1.502vw), 130px);
}

@supports ((text-stroke: 1px var(--main-color)) or (--webkit-text-stroke: 1px var(--main-color))) {
  .card-image-label {
    -webkit-text-stroke: 1px var(--main-color);
    text-stroke: 1px var(--main-color);
    text-shadow: none;
  }
}

@media (width <= 375px) {
  .save__button-content {
    flex-direction: column;
  }

  .save__button-content .disket {
    min-inline-size: 29px;
    min-block-size: 29px;
  }

}

@media (width > 375px) {
    .main{
    gap: var(--offset-ll);
  }

  .card-text{
    margin: 20px 22px;
  }
}