/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --title-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --subtitle-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --main-font-size: 18px;
  --accent-font-size: 14px;
  --main-color: #fff;
  --accent-color: #000;
  --contour-color: #000;
  --animation-fill-color: #ff0000;
  --regular-wght: 410;
  --bold-wght: 715;
  --text-stroke: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  --main-gradient:
    repeating-linear-gradient(
      90deg,
      rgba(211, 211, 211),
      rgba(211, 211, 211) 2px,
      rgba(211, 211, 211, 0) 2px,
      rgba(211, 211, 211, 0) 4px
    ),
    repeating-linear-gradient(
      180deg,
      rgba(211, 211, 211),
      rgba(211, 211, 211) 2px,
      rgba(211, 211, 211, 0) 2px,
      rgba(211, 211, 211, 0) 4px
    ),
    repeating-linear-gradient(
      180deg,
     rgba(231, 231, 231),
     rgba(26, 26, 26)
    );
  --border: 2px solid #000;
  --offset-xxs: 4px;
  --offset-xs: 10px;
  --offset-s: 20px;
  --offset-sm: 25px;
  --offset-sl: 30px;
  --offset-l: 50px;
  --offset-xl: 100px;
}
